@import url('https://fonts.googleapis.com/css2?family=Harry+Potter&display=swap');

@font-face {
  font-family: "Harry Potter";
  src: url(../src/assets/fonts/HARRYP__.TTF);
}

* {
  margin: 0;
  color: black;
}

.intro {
  font-size: 24px;
  background-image: linear-gradient(135deg, rgba(234, 236, 102, 0.6), rgba(223, 141, 83, 0.8));
  border-radius: 50px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}


.max-char-textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Harry Potter", cursive;
  padding: 20px;
  position: relative;
}

.input-group {
  margin-bottom: 15px;
}

label {
  font-size: 1.5em;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: inherit;
  font-size: 1.2em;
  color: black;
}

textarea {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-image: url('../NavBar/FondoNavBar.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: inherit;
  font-size: 1.5em;
  color: black;
  resize: none;
  opacity: 0.8;
  text-align: center;
  margin: 60px 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 20px;
  background-image: linear-gradient(135deg, rgba(234, 236, 102, 0.8), rgba(223, 141, 83, 0.8));
  font-size: 24px;
}

button:hover {
  background-image: linear-gradient(135deg, rgba(218, 165, 32, 0.8), rgba(139, 69, 19, 0.8));
}



.story-section {
  margin-top: 20px;
  text-align: center;
}

.story-section h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.story-section p {
  font-size: 1em;
}

.story-section button {
  padding: 10px 20px;
  background-image: linear-gradient(135deg, rgba(234, 236, 102, 0.8), rgba(223, 141, 83, 0.8));
  color: black;
  border: none;
  border-radius: 5px;
  font-family: "Harry Potter", cursive;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 0.8;
  margin-top: 10px;
  font-size: 24px;
}

.story-section button:hover {
  background-image: linear-gradient(135deg, rgba(218, 165, 32, 0.8), rgba(139, 69, 19, 0.8));
}

.image-section {
  margin-top: 20px;
  text-align: center;
}

.image-section h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.image-section img {
  width: 300px;
  height: auto;
  border-radius: 5px;
}

textarea::placeholder {
  color: black;
  padding: 60px 80px 0;
}

.story-section {
  margin-top: 20px;
  text-align: center;
}

.story-section h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.story-section p {
  font-size: 1em;
  margin-bottom: 10px;
}

.story-section p:last-child {
  margin-bottom: 0;
}

.story-section button {
  padding: 10px 20px;
  background-image: linear-gradient(135deg, rgba(234, 236, 102, 0.8), rgba(223, 141, 83, 0.8));
  color: black;
  border: none;
  border-radius: 5px;
  font-family: "Harry Potter", cursive;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 0.8;
  margin-top: 10px;
}

.story-section button:hover {
  background-image: linear-gradient(135deg, rgba(218, 165, 32, 0.8), rgba(139, 69, 19, 0.8));
}
